
<div id='navigation'> 
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/bookShelf'>Book Shelf</a></li>
        <li><a href='/searches/newSearch'>Search</a></li>
        <li><a href=''>Search One</a></li>                  <!--This needs to be added-->
    </ul>
</div>